<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>阅读 · 咸鱼雀</title>
    <link rel="stylesheet" th:href="@{/css/examples/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/editormd.css}"/>
    <link rel="icon" th:href="@{/logo.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/logo.ico}" type="image/x-icon"/>
    <style type="text/css">
        body {background:#f5f5f5}
        .title {
            margin: 50px 15% 20px;
            border: none;
            font-size: 32px;
            font-weight: bolder;
            color: #555555;
            background:#f5f5f5
        }
    </style>
</head>
<body>

<div id="layout">
    <div th:text="${article.title}" class="title"></div>
    <div id="test-editormd" style="margin: 20px auto; width: 70%;">
        <textarea style="display:none;" th:text="${article.content}"></textarea>
    </div>
</div>

<script th:src="@{/js/examples/jquery.min.js}"></script>
<script th:src="@{/lib/marked.min.js}"></script>
<script th:src="@{/lib/prettify.min.js}"></script>
<script th:src="@{/lib/raphael.min.js}"></script>
<script th:src="@{/lib/underscore.min.js}"></script>
<script th:src="@{/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/lib/flowchart.min.js}"></script>
<script th:src="@{/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/js/editormd.min.js}"></script>
<script type="text/javascript">

    var testEditor;

    $(function () {
        testEditor = editormd.markdownToHTML("test-editormd", {
            width: "70%",
            height: 700,
            path: "../lib/",
            preview: true,
            watch: true,
            editor: false,
        })
    })

</script>
</body>
</html>